# version: main.533
# imagePrefix: eu.gcr.io/gitpod-core-dev/build/
version: 0.8.0-rc2

hostname: $DOMAIN

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - key: gitpod.io/main-node
          operator: In
          values:
          - "true"

components:
  wsDaemon:
    containerRuntime:
      containerd:
        socket: /run/k3s/containerd/containerd.sock
      nodeRoots: 
      - /var/lib
      - /run/k3s/containerd/io.containerd.runtime.v1.linux
      - /run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io
  workspace:
    # defaultImage:
    #   imageName: workspace-base
    template:
      spec:
        dnsConfig: null
        dnsPolicy: ClusterFirst
    affinity:
      default: "gitpod.io/workload_workspace"
  imageBuilder:
    dindMtu: 1450

minio:
  accessKey: fDhEkcdeTb8Hq9VNbVJPEPFNZn6AVDAVX7hc3453
  secretKey: fU6fm63LX4Pm64DRq9dr4nB55dr6NX9eYo812342
  resources:
    requests:
      memory: 2G
  nodeSelector:
    gitpod.io/main-node: "true"

docker-registry:
  nodeSelector:
    gitpod.io/main-node: "true"

mysql:
  nodeSelector:
    gitpod.io/main-node: "true"

authProviders:
- id: "Public-GitHub"
  host: "github.com"
  type: "GitHub"
  oauth:
    clientId: "6336ac6113b9f068fd78"
    clientSecret: "$GITPOD_GITHUB_CLIENT_SECRET"
    callBackUrl: "https://gitpod.x.ludmann.name/auth/github.com/callback"
    settingsUrl: "https://github.com/settings/applications/1490056"
  description: ""
  icon: ""
